@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background:#111827;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

#smooth-content {

  width: 100%;
  /* set a height because the contents are position: absolute, thus natively there's no height */
 
}
.active{
   text-decoration: underline;
   color: rgb(63, 189, 194);
}